[user]                                                                                                                                                                                                                            
        name = Hudson                                                                                                                                                                                              
        email = hudson@thunder
